<h1>Server Management Portal</h1>
<pre>
{{ conversation[conversationPointer] }}
</pre>
<h3>Start/Stop Game</h3>
<div style="display: flex; flex-direction: column; ">
    {% if "host" in accountInfo["allowedCommands"] %}<a href="/actions/host">Start game</a>{% endif %}
    {% if "stop" in accountInfo["allowedCommands"] %}<a href="/actions/stop">Stop</a>{% endif %}
    {% if "save" in accountInfo["allowedCommands"] %}
    <div>
        {% for slot in accountInfo["allowedSlots"]%}
        <a href="/actions/save-to-slot/{{slot}}">Save to {{slot}}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% if "load" in accountInfo["allowedCommands"] %}
    <div>
        {% for slot in accountInfo["allowedSlots"]%}
        <a href="/actions/load-slot/{{slot}}">Load {{slot}}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% if "host" in accountInfo["allowedCommands"] %}
<br>
<h3>Host Custom Game</h3>
<form action="/actions/host" method="post">
    <h5>Map</h5>
    {% for map in maps %}
    <input type="radio" id="{{map}}" name="map" value="{{map}}" id="{{map}}" {% if loop.last %}checked{% endif %}><label for="{{map}}">{{map}}</label><br>
    {% endfor %}
    <h5>Mode</h5>
    <input type="radio" id="attack" name="mode" value="attack" id="attack" ><label for="attack">attack</label><br>
    <input type="radio" id="survival" name="mode" value="survival" id="survival" checked><label for="survival">survival</label><br>
    <input type="radio" id="sandbox" name="mode" value="sandbox" id="sandbox" ><label for="sandbox">sandbox</label><br>
    <input type="radio" id="pvp" name="mode" value="pvp" id="pvp" ><label for="pvp">pvp</label><br>
    <button>Submit</button>
</form>
{% endif %}
<br>
{% if "pause" in accountInfo["allowedCommands"] %}
<h3>Pause & Next wave</h3>
<div style="display: flex; flex-direction: column; ">
    <a href="/actions/pause-on">Pause on</a>
    <a href="/actions/pause-off">Pause off</a>
</div>
{% endif %}
<br>
{% if "whitelist" in accountInfo["allowedCommands"] %}
<h3>Whitelist</h3>
<div style="display: flex; flex-direction: column; ">
    <a href="/actions/whitelistRecentPlayer">Whitelist Most Recent Player</a>
    <a href="/actions/disableWhitelist">Whitelist off</a>
    <a href="/actions/enableWhitelist">Whitelist On</a>
</div>
{% endif %}

{% if accountInfo["seeFullHistory"] %}
<pre>
{% for segment in conversation %}
{{segment}}
{% endfor %}
</pre>
{% endif %}