<h1>Server Management Portal</h1>
<h3>Start/Stop Game</h3>
<div style="display: flex; flex-direction: column; ">
    <a href="/actions/host">Host</a>
    <a href="/actions/stop">Stop</a>
    <div><a href="/actions/save-to-slot/slot0">Save to Slot 0</a> <a href="/actions/save-to-slot/slot1">Save to Slot 1</a> <a href="/actions/save-to-slot/slot2">Save to Slot 2</a></div>
    <div><a href="/actions/load-slot/slot0">Load Slot 0</a> <a href="/actions/load-slot/slot1">Load Slot 1</a> <a href="/actions/load-slot/slot2">Load Slot 2</a> </div>
</div>
<br>
<h3>Pause Game</h3>
<div style="display: flex; flex-direction: column; ">
    <a href="/actions/pause-on">Pause on</a>
    <a href="/actions/pause-off">Pause off</a>
</div>
<br>
<h3>Whitelist</h3>
<div style="display: flex; flex-direction: column; ">
    <a href="/actions/tempWhitelistOff">Turn off whitelist for one minute</a>
    <a href="/actions/letInPlayer">Whitelist off</a>
    <a href="/actions/keepOut">Whitelist On</a>
</div>